@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    @if (User.Identity.IsAuthenticated)
    {
        var twoFactor = ViewData["TwoFactorEnabled"];
        if (twoFactor != null && twoFactor.ToString().ToLower() == "true")
        {
            <a asp-controller="Account" asp-action="RemoveAuthenticator" class="btn btn-warning">Reset & Remove Two Factor Auth</a>
        }
        else
        {
            <a asp-controller="Account" asp-action="EnableAuthenticator">Setup two factor authentication</a>
        }

        <br />
    }

    <h2 class="text-success">Your role is - @(User.IsInRole(SD.Admin) ? "Admin" : "User")</h2>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
